body{
    background-image: linear-gradient(to right, rgb(171, 225, 241) , rgb(72, 158, 237));
background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0;
}
body h2{
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body h2 span{
    color:yellow;
}

#weather-container{
background: rgb(72, 158, 237);

width: 450px;
padding: 20px;
border-radius: 15px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
border:1px solid rgba(20, 22, 30, 0.1);
text-align: center;
transition: transform 0.3s ease-in-out;
}
#weather-container:hover{
    transform: scale(1.03);
}
h2, label, p{
    color:#fff;
    margin:8px 0;
}
input{
    width: calc(100%-16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius:5px;
    border:1px solid white;
    margin-top:20px;
}
button{
    background-color: #e0f035;
    color:rgb(22, 31, 50);
    padding: 10px;
    border:none;
    border-radius:20px;
    cursor: pointer;
    margin-top: 20px;
    width: 60px;
    font-size:13px;
    height: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button:hover{
    background-color: #bdc846;
}
#temp-div p{

font-size: 60px;
margin-top: -30px;

}
#weather-info{
    font-size:20px;
}
#weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display:none;
}
#hourly-forecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display:flex;
    justify-content: space-between;

}
.hourly-item{
    flex:0 0 auto;
    width:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
    color:white;
}
.hourly-item img{
    width: 30px;
    height:30px;
    margin-bottom:5px;

}
#hourly-heading{
    color:#fff;
    margin-top:10px;

}
#skyscope-icon{
    position:relative;
    top:-70px;
    left: -70px;
    width: 50px;
    height:50px;
    
}